.navbar-text {
    font-family: 'Potta One', serif;
}

.form-control {
    font-family: 'Poppins', serif;
}

.fonts {
    font-family: 'Poppins', serif;

}
.size {
    font-size: small;
}

.margin-top {
    margin-top: 120px;
}

.bg-custom-dark-lighter {
    background-color: #333333;
}

div.a {
    text-align: right;
}

.form-middle {
    width: 285px;
}

.form-large {
    width: 828px;
}

.profile {
    display: flex;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.bold {
    font-weight: bold;
}

.nav-link.active.text-warning {
    color: yellow !important;
}

.nav-link.text-warning:not(.active) {
    color: white !important;
}

.btn {
    font-family: 'Poppins', serif;
}

.sticky {
    position: sticky;
    top: 0;
}
.grey{
    border-color: #464745;
    background-color: #464745;
}
.custom-image {
    max-width: 500px;
    max-height: 500px;
    min-width: 300px;
    margin-top: 20px;
}

.link-style {
    color: white;
    margin-left: 40px;
    text-decoration: none;
}
.bg-custom-dark-lighter {
    background-color: #333333;
}

.multi-meme-table {
    border: 1px solid yellow; 
    border-spacing: 10px; 
}

.multi-meme-table td {
    border: 1px solid yellow; 
    padding: 10px;
    text-align: center; 
}
